
@mixin media($size){
    @if($size == M){
        @media (max-width:768px){
            @content;
        }
    }@else if ($size == L){
        @media (min-width:768px) and (max-width:1200px) {
            @content;
        }
    }
}

@mixin containerHeader{
    width: 90%;
    margin: auto auto;
}
@mixin textStyle ($color, $size, $weight){
    color: $color;
    font-size: $size;
    font-weight: $weight;
}
@mixin ulStyle{
    list-style-type: none;
}
@mixin hrefStyle{
    display: block;
    color: $secondaryClr;
    text-decoration: none;
}
@mixin border-href{
    background-color: #57C9E9;
    border-radius: 15px;
    padding: 10px;
}