@import "variables";
@import "mixin";

body{
    color: $secondaryClr;
    background-color: $bgClr;
    margin: 0px;
}
.bgclr{
    background-color: $primaryClr;
    width: 100%;
}
.container-header{
    @include containerHeader;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
        @include textStyle($secondaryClr, 3rem, bold);
    }
    .hamburger-menu{
        display: none;
        flex-direction: column;
        cursor: pointer;
            
            span{
                display: inline-block;
                background-color: $secondaryClr;
                width: 25px;
                height: 3px;
                margin: 2px;
                border-radius: 10px;
            }
    }
}
.navbar-top{
    display: flex;
    ul{
        display: flex;
        flex-direction: row;

        @include ulStyle;

            a{
                margin: 5px;
                transition: all .25s ease-in-out;

                &:hover{
                    background-color: $textClr;
                }
                @include hrefStyle;
                @include border-href;
            }
    }
}






@include media (M){
    .header-top{
        .hamburger-menu{
            display: flex;
        }
    }
    .navbar-top{
        display: none;
    }
}